@media  (max-width:1050px){
  .help-link {
    font-size: 14px;
  }
.container {
  max-width: 900px;
}
  .header {
    &__container {
      max-width: 973px;
    }
  }
  .hero {

    background-position-y: 134px;
    background-size: 682px;
    & .container {
    max-width: 950px;
    }
    &__title {
        font-size: 56px;
        max-width: 436px;
    }
    &__desc {
      width: 367px;
    }
  }

  .future {
    &__image {
      width: 463px;
      height: 394px;
    }
    &__content {
      width: 363px;
    }
  }
  .safe {
    &__content {
      width: 873px;
    }
    &__image {
      top: -84px;
      height: 250px;
    }
    & .dog{
      width: 150px;
    }
    &__content {
      width: 914px;
    }

  }
  .tech {
    &__image {
      width: 500px;
      height: 500px;
  }
    &__content {
      width: 363px;
    }
}

  .start {
    &__image1 {
      left: -106px;
    }
    &__image2 {
      height: 190px;
    }
  }
  .steps {
    &__path {
      max-width: 516px;
    }
    &__confetti {
      bottom: 112px;
      right: -110px;
      height: 201px;
    }
    &__sm-desc {
      font-size: 14px;
    }
    &__drop2 {
      top:-12px;
    }
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 865px;
  }
  .section {
    &__title {
      font-size: 40px;
    }
    &__desc {
      font-size: 16px;
    }
  }
  .hero {
    &__title {
      font-size: 62px;
      max-width: 444px;
    }
    &__desc {
      font-size: 24px;
      margin-right: auto;
      margin-left: auto;
    }
    background: none;
    &__content {
      position: relative;
      margin: 0 auto;
      text-align: center;
    }
    //&__content::after {
    //  content: "";
    //  position: absolute;
    //  width: 100%;
    //  height: 100%;
    //  top: 0;
    //  left: 0;
    //  background-color: rgb(0 0 0 / 86%);
    //}

  }

  .future {
    &__image {
      width: 424px;
      height: 377px
    }
    &__title {
      font-size: 33px;
    }
  }

  .tech {
    &__image {
      width: 424px;
      height: 377px
    }
    &__title {
      font-size: 33px;
    }
  }

  .safe {
    &__content {
      width: 810px;
      margin-left: auto;
      margin-right: auto;
    }
    &__card {
      width: 100%;
    }
    &__cards {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
  }
  .steps {
    &__1 {
      left: 134px;
    }
    &__dot1 {
      left: 146px;
    }
    &__2 {
      top: 2px;
    }
    &__dot2 {
      top: 15px;
    }
    &__3 {
      right: 140px;
    }
    &__dot3 {
      right: 152px;
    }

    &__confetti {
      bottom: 119px;
      right: -82px;
      height: 181px;
    }
    &__one {
    left: 47px;
    }
    &__three {
      right: 37px;
    }
  }
  .feature {
    &__row {
      grid-template-columns: 1fr 1fr;
      row-gap: 25px;
    }
  }
  .start {
    &__image1, &__image2 {
      display: none;
    }
  }

  .footer {
    &__right {
      column-gap: 74px;
    }
  }

}

@media (max-width: 850px) {
  .steps {
    &__sm-desc {
      font-size: 12px;
    }
    &__one {
      max-width: 214px;
    }
    &__two {
      max-width: 187px;
    }
    &__three {
      max-width: 216px;
      right: 53px;
    }
    &__confetti {
      right: -106px;
    }
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 780px;
  }
  .section {
    &__title {
      font-size: 30px;
    }
    &__desc {
    }
  }
  .steps {
    padding: 75px 0 65px;
    &__title {
      font-size: 35px;
    }
    &__desc {
      font-size: 14px;
    }
    &__drop1 {
      width: 7px;
    }
    &__drop2 {
      left: 240px;
      width: 8px;
    }
    &__path {
      top: 23px;
      left: 48px;
    }
    &__confetti {
      right: -152px;
      bottom: 113px;
    }
  }
  .future {
    &__image {
      width: 365px;
      height: 356px;
    }
  }
  .tech {
    &__image {
      width: 365px;
      height: 356px;
    }
  }
  .safe {
    &__content {
      width: 750px;
    }
  }
  .footer {
    &__right {
      column-gap: 43px;
    }
  }
  .hero {
    &__title {
      font-size: 45px;
    }
  }
}

@media (max-width: 750px) {
  .container {
    max-width: 720px;
  }
  .future {
    &__content {
      width: 300px;
    }
    &__title {
      font-size: 30px;
    }
  }
  .tech {
    &__content {
      width: 300px;
    }
  }
  .safe {
    &__content {
      width: 680px;
    }
  }
  .steps {
    &__path {
      display: none;
    }
    &__confetti {
      display: none;
    }
    &__desc {
      width: 615px;
    }
  }
  .footer {
    &__right {
      column-gap: 37px;
      row-gap: 30px;
      grid-template-columns: 2fr 1fr;
    }
    &__desc {
      margin-bottom: 181px;
    }
  }
}

@media (max-width: 700px) {
  .container {
    max-width: 670px;
  }
  .steps {
    &__one {
      left: 13px;
      max-width: 192px;
    }
    &__1 {
      left: 96px;
    }
    &__dot1 {
      left: 103px;
    }
    &__three {
      right: 10px;
      max-width: 194px;
    }
    &__3{
      right: 100px;
    }
    &__dot3 {
      right: 109px;
      top: 14px;
    }
    &__drop1, &__drop2 {
      display: none;
    }
  }
}

@media (max-width: 650px) {
  .container {
    max-width: 615px;
  }
  .section {
    &__title {
      font-size: 29px;
    }
    &__desc {
      font-size: 12px;
      line-height: 20px;
    }
  }
  .steps {
    &__one {
      max-width: 169px;
    }
    &__three {
      max-width: 170px;
    }
    &__3 {
      right: 72px;
    }
    &__dot3 {
      right: 81px;
    }
    &__1 {
      left: 77px;
    }
    &__dot1 {
      left: 84px;
    }
  }
  .price-btn {
    font-size: 14px;
    width: 190px;
    height: 48px;
  }
}

@media (max-width: 550px) {
  .container {
    max-width: 510px;
  }
  .steps {
    &__desc {
      width: 462px;
    }
    &__frame {
      height: auto;
    }
    &__one,
    &__two,
    &__three {
      position: static;
      margin: 22px auto;
      width: 100%;
      max-width: 100%;
    }
    &__1 {
      left: 0;
      right: 10px;
      margin: 0 auto;
    }
    &__2 {
      top: 190px;
    }
    &__3 {
      left: 0;
      right: 0;
      top: auto;
      bottom: 68px;
      margin: 0 auto;
    }
    &__dot1 {
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    &__dot2 {
      top: 208px;
      right: 10px;
    }
    &__dot3 {
      right: 0;
      left: 0;
      margin: 0 auto;
      bottom: 68px;
      top: auto;
    }
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 410px;
  }
  .steps {
    &__desc {
      width: 406px;
    }
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 378px;
  }
  .steps {
    &__desc {
      width: 406px;
    }
  }
}
