@media (max-width: 1050px) {
  .help-link {
    font-size: 14px;
  }
  .container {
    max-width: 900px;
  }
  .header__container {
    max-width: 973px;
  }
  .hero {
    background-position-y: 134px;
    background-size: 682px;
  }
  .hero .container {
    max-width: 950px;
  }
  .hero__title {
    font-size: 56px;
    max-width: 436px;
  }
  .hero__desc {
    width: 367px;
  }
  .future__image {
    width: 463px;
    height: 394px;
  }
  .future__content {
    width: 363px;
  }
  .safe__content {
    width: 873px;
  }
  .safe__image {
    top: -84px;
    height: 250px;
  }
  .safe .dog {
    width: 150px;
  }
  .safe__content {
    width: 914px;
  }
  .tech__image {
    width: 500px;
    height: 500px;
  }
  .tech__content {
    width: 363px;
  }
  .start__image1 {
    left: -106px;
  }
  .start__image2 {
    height: 190px;
  }
  .steps__path {
    max-width: 516px;
  }
  .steps__confetti {
    bottom: 112px;
    right: -110px;
    height: 201px;
  }
  .steps__sm-desc {
    font-size: 14px;
  }
  .steps__drop2 {
    top: -12px;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 865px;
  }
  .section__title {
    font-size: 40px;
  }
  .section__desc {
    font-size: 16px;
  }
  .hero {
    background: none;
  }
  .hero__title {
    font-size: 62px;
    max-width: 444px;
  }
  .hero__desc {
    font-size: 24px;
    margin-right: auto;
    margin-left: auto;
  }
  .hero__content {
    position: relative;
    margin: 0 auto;
    text-align: center;
  }
  .future__image {
    width: 424px;
    height: 377px;
  }
  .future__title {
    font-size: 33px;
  }
  .tech__image {
    width: 424px;
    height: 377px;
  }
  .tech__title {
    font-size: 33px;
  }
  .safe__content {
    width: 810px;
    margin-left: auto;
    margin-right: auto;
  }
  .safe__card {
    width: 100%;
  }
  .safe__cards {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .steps__1 {
    left: 134px;
  }
  .steps__dot1 {
    left: 146px;
  }
  .steps__2 {
    top: 2px;
  }
  .steps__dot2 {
    top: 15px;
  }
  .steps__3 {
    right: 140px;
  }
  .steps__dot3 {
    right: 152px;
  }
  .steps__confetti {
    bottom: 119px;
    right: -82px;
    height: 181px;
  }
  .steps__one {
    left: 47px;
  }
  .steps__three {
    right: 37px;
  }
  .feature__row {
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
  }
  .start__image1, .start__image2 {
    display: none;
  }
  .footer__right {
    column-gap: 74px;
  }
}
@media (max-width: 850px) {
  .steps__sm-desc {
    font-size: 12px;
  }
  .steps__one {
    max-width: 214px;
  }
  .steps__two {
    max-width: 187px;
  }
  .steps__three {
    max-width: 216px;
    right: 53px;
  }
  .steps__confetti {
    right: -106px;
  }
}
@media (max-width: 800px) {
  .container {
    max-width: 780px;
  }
  .section__title {
    font-size: 30px;
  }
  .steps {
    padding: 75px 0 65px;
  }
  .steps__title {
    font-size: 35px;
  }
  .steps__desc {
    font-size: 14px;
  }
  .steps__drop1 {
    width: 7px;
  }
  .steps__drop2 {
    left: 240px;
    width: 8px;
  }
  .steps__path {
    top: 23px;
    left: 48px;
  }
  .steps__confetti {
    right: -152px;
    bottom: 113px;
  }
  .future__image {
    width: 365px;
    height: 356px;
  }
  .tech__image {
    width: 365px;
    height: 356px;
  }
  .safe__content {
    width: 750px;
  }
  .footer__right {
    column-gap: 43px;
  }
  .hero__title {
    font-size: 45px;
  }
}
@media (max-width: 750px) {
  .container {
    max-width: 720px;
  }
  .future__content {
    width: 300px;
  }
  .future__title {
    font-size: 30px;
  }
  .tech__content {
    width: 300px;
  }
  .safe__content {
    width: 680px;
  }
  .steps__path {
    display: none;
  }
  .steps__confetti {
    display: none;
  }
  .steps__desc {
    width: 615px;
  }
  .footer__right {
    column-gap: 37px;
    row-gap: 30px;
    grid-template-columns: 2fr 1fr;
  }
  .footer__desc {
    margin-bottom: 181px;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 670px;
  }
  .steps__one {
    left: 13px;
    max-width: 192px;
  }
  .steps__1 {
    left: 96px;
  }
  .steps__dot1 {
    left: 103px;
  }
  .steps__three {
    right: 10px;
    max-width: 194px;
  }
  .steps__3 {
    right: 100px;
  }
  .steps__dot3 {
    right: 109px;
    top: 14px;
  }
  .steps__drop1, .steps__drop2 {
    display: none;
  }
}
@media (max-width: 650px) {
  .container {
    max-width: 615px;
  }
  .section__title {
    font-size: 29px;
  }
  .section__desc {
    font-size: 12px;
    line-height: 20px;
  }
  .steps__one {
    max-width: 169px;
  }
  .steps__three {
    max-width: 170px;
  }
  .steps__3 {
    right: 72px;
  }
  .steps__dot3 {
    right: 81px;
  }
  .steps__1 {
    left: 77px;
  }
  .steps__dot1 {
    left: 84px;
  }
  .price-btn {
    font-size: 14px;
    width: 190px;
    height: 48px;
  }
}
@media (max-width: 550px) {
  .container {
    max-width: 510px;
  }
  .steps__desc {
    width: 462px;
  }
  .steps__frame {
    height: auto;
  }
  .steps__one, .steps__two, .steps__three {
    position: static;
    margin: 22px auto;
    width: 100%;
    max-width: 100%;
  }
  .steps__1 {
    left: 0;
    right: 10px;
    margin: 0 auto;
  }
  .steps__2 {
    top: 190px;
  }
  .steps__3 {
    left: 0;
    right: 0;
    top: auto;
    bottom: 68px;
    margin: 0 auto;
  }
  .steps__dot1 {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .steps__dot2 {
    top: 208px;
    right: 10px;
  }
  .steps__dot3 {
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 68px;
    top: auto;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 410px;
  }
  .steps__desc {
    width: 406px;
  }
}
@media (max-width: 400px) {
  .container {
    max-width: 378px;
  }
  .steps__desc {
    width: 406px;
  }
}

/*# sourceMappingURL=media.css.map */
